/**** Important! ****/
  *, ::before, ::after
  { box-sizing: border-box; }

/******** Wijit ********/
  wijit-carousel {
    border-radius: 20px;
    transition: all .5s;
  }

  wijit-carousel:not(:defined) {
    opacity: 0;
  }

  /* "container" holds the slides and controls */
  /* Inherits many css properties from wijit-carousel */
  wijit-carousel::part(container) {}

  /* "panel" holds just the slides */
  /* Inherits many css properties from container */
  wijit-carousel::part(panel) {
    border: none;
    height: 300px;
    margin-bottom: 1ch;
  }

  /* "controls" holds just the controls */
  wijit-carousel::part(controls) {}

  /* button controls */
  wijit-carousel > button
  { border-radius: 0; }

  wijit-carousel > button:first-of-type
  { border-radius: 10px 0 0 10px; }

  wijit-carousel > button:last-of-type
  { border-radius: 0 10px 10px 0; }

  /* The slide css class is applied manually in the html page*/
  wijit-carousel .slide {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1em;
  }


/******** General ********/
  html
  {
    font-size: 16px;
    height: 100%;
    width: 100%;
    --bordercolor: rgb(150,150,150);
  }

  body
  {
    background: rgb(245,245,245);
    font-family: sans-serif;
    margin: 10px;
    overflow-x: hidden;
  }

  button
  {
    border: 1px solid var(--bordercolor);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    min-height: 35px;
    padding: 5px;
  }

  button:hover
  {
    border-style: outset;
    box-shadow: 0px 0px 5px var(--bordercolor);
  }

  button:active
  {
    background-color: lightyellow;
    box-shadow: none;
  }

  button[disabled]
  {
    box-shadow: none;
    color: inherit;
    cursor: not-allowed;
    opacity: 1;
  }

  details > *
  {
    background: white;
    border-radius: 20px;
    margin: 1rem 0;
    padding: 1rem;
  }

  fieldset
  {
    border: 1px solid silver;
    border-radius: 10px;
  }

  #settings fieldset
  { margin-bottom: 1rem; }

  h1
  {
    display: inline-block;
    margin: 0;
  }

  input, select, textarea
  {
    border-color: var(--bordercolor);
    border-radius: 10px;
    border-width: 1px;
    min-height: 35px;
    padding: 5px;
  }

  input[type=radio] {
    aspect-ratio: 1/1;
    cursor: pointer;
    height: 35px;
  }

  select,
  input:not([type=range]) {
    margin: 2.5px 0;
  }

  label
  {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    vertical-align: bottom;
  }

  legend
  { font-weight: bold; }

  summary
  { cursor: pointer; }

  summary:hover
  { box-shadow: 2px 2px 5px var(--bordercolor); }

  summary:active
  { box-shadow: none; }

  .active {
    opacity: 1;
  }

  .container
  {
    align-items: center;
    background: white;
    border: 1px solid var(--bordercolor);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 10px;
  }

  .active-control {
    background: lemonchiffon;
  }

  .active-control2 {
    background: radial-gradient(circle, rgba(255,248,0,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }

  .active3 {
    box-shadow: 0 0 10px rebeccapurple;
  }

/******** Menu Button ********/

  .menubutton
  {
    background: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    width: 45px;
  }

  .menubutton hr
  {
    border-radius: 4px;
    height: 4px;
    margin: 6px 0;
    background-color: var(--bordercolor);
  }

  .menubutton:hover
  {
    border-style: none;
    box-shadow: none;
  }

  .menubutton:hover > hr,
  .menubutton:focus > hr
  { box-shadow: 2px 2px 2px var(--bordercolor); }

  .menubutton:active > hr
  { box-shadow: none; }

/******** Search Box ********/

  form.search
  {
    display: inline-flex;
    height: 100%;
    min-height: 35px;
  }

  form.search input
  {
    border-radius: 10px 0 0 10px;
    height: 100%;
  }

  form.search button
  {
    border: 1px solid var(--bordercolor);
    border-radius: 0 10px 10px 0;
    padding: 0;
    width: 45px;
  }

  form.search .icon
  {
    height: 100%;
    position: relative;
    transform: rotate(-35deg);
  }

  form.search .icona
  {
    aspect-ratio: 1/1;
    border: 4px solid var(--bordercolor);
    border-radius: 20px;
    height: 45%;
    left: 20%;
    position: absolute;
    top: 0px;
  }

  form.search .iconb
  {
    background-color: var(--bordercolor);
    border-radius: 0 0 7px 7px;
    bottom: 0;
    height: 40%;
    left: 40%;
    position: absolute;
    width: 7px;
  }

/******** Button Bar ********/

  .commands
  {
    display: flex;
    height: 100%;
  }

  .commands button
  {
    border-radius: 0;
    flex: 1;
    min-height: min-content;
  }

  .commands button:hover
  {
    border-width: 2px;
    border-style: outset;
  }

  .commands button:first-of-type
  { border-radius: 10px 0 0 10px; }

  .commands button:last-of-type
  { border-radius: 0 10px 10px 0; }

/******** Example Form ********/

  #example-form fieldset {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }

  #example-form input {
    width: 100%;
  }
